@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  display: flex;
  flex-grow: initial;
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  .between {
    font-size: 1.2rem;
  }
  .again {
    font-size: 1.5rem;
  }
}

@media (max-width: 570px) {
  .label-score,
  .label-highscore,
  .message {
    font-size: 1.8rem;
  }
  .check {
    font-size: 1.3rem;
    padding: 1.6rem 2.6rem;
  }
  .guess {
    margin-bottom: 1.9rem;
    padding: 1.8rem;
    width: 18rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 467px) {
  .label-score,
  .label-highscore,
  .message {
    font-size: 1.1rem;
  }
  .message {
    margin-bottom: 6rem;
    font-size: 1rem;
  }
  .check {
    font-size: 1rem;
    padding: 1.3rem 2.3rem;
  }
  .guess {
    padding: 1.5rem;
    width: 14rem;
  }
  h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .again {
    font-size: 1.1rem;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.6rem 2.6rem;
  }
  .between {
    font-size: 1rem;
    position: absolute;
    width: max-content;
    top: 35%;
    left: 52%;
    transform: translate(-50%, -50%);
  }
  .number {
    font-size: 4rem;
    width: 13rem;
    padding: 2.8rem 0rem;
  }
}
@media (max-width: 320px) {
  .check {
    margin-bottom: 4rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  .between {
    font-size: 0.9rem;
  }
  .again {
    font-size: 0.8rem;
    padding: 1.4rem 2.4rem;
  }
  .number {
    font-size: 3.2rem;
    width: 9rem;
    padding: 2.2rem 0rem;
  }
  .left {
    position: relative;
    left: 25%;
    bottom: 10%;
    width: max-content;
  }
  .right {
    position: relative;
    right: 25%;
    top: 35%;
    width: max-content;
  }
  .label-score,
  .label-highscore,
  .message {
    font-size: 0.9rem;
  }
  .message {
    margin-bottom: 5rem;
  }

  .label-highscore {
    margin-bottom: 10rem;
  }
  .guess {
    padding: 1.2rem;
    width: 11rem;
  }
}
@media (max-width: 170px) {
  .guess {
    padding: 0.6rem;
    width: 8rem;
  }
  .check {
    font-size: 0.6rem;
    padding: 1rem 2rem;
  }
  .label-score,
  .label-highscore,
  .message {
    font-size: 0.7rem;
  }
}
/* .message,
.label-highscore,
.label-score{
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-timing-function: ease-in
}

@keyframes slidein{
  from{
    margin-left: 30%;
  }
  to{
    margin-left: 0%;
  }
} */
